.btn {
	display: inline-block;
	font-size: 2em;
	padding: 0.75em 1em;
	background-color: #1ce;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}

.sidebar {
	position: fixed;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 300px;
	background-color: #333;
	transition: transform 0.3s ease-out;
}

.sidebar ul {
	margin: 0px;
	padding: 0px;
}

.sidebar li {
	list-style: none;
}

.sidebar li + li {
	border-top: 1px solid white;
}

.sidebar a {
	display: block;
	padding: 1em 1.5em;
	color: #fff;
	text-decoration: none;
}

.sidebar.is-hidden {
	transform: translateX(300px);
}