
body {
	font-family: "Ubuntu";
}

code {
	background: gray;
	font-family: "Courier New";
}

button {
	background-color: royalblue;
	color: #FFF; 
	font-size: 18px;
	border: 1px solid black;
	text-transform: uppercase;
}

button:hover {
	color: royalblue;
	border: 1px solid royalblue;
	background-color: #FFF;
	cursor: pointer;
}

/*Comentários*/
.c {
	color: gray;
}
