/*
Theme Name: Simposio Despertar
Theme URI: http://quetz.com.br/
Author: Quetz AG
Author URI: http://quetz.com.br/
Description: Tema exlusivamente desenvolvido para o Simpósio Despertar. 
Version: 1.0
Text Domain: sd
*/

html,
body {
    width: 100%;
    height: 100%;
}

html {
	margin-top:0px !important;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

img {
	align: center;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: relative;
    color: #eeeeee;
}

.bg-local {
	background-image: url("http://quetz.com.br/wp-content/uploads/2017/07/bg-local.png");
    background-position: center center;
    background-size: auto 100%;
    background-repeat: repeat-y;
    background-color: #424242;
    height: 400px;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: rgba(0,0,0,0.7);
    background-color: #fff;
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    transform: translateX(250px);
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.none-ls {
	list-style: none;
}

.local-item {
	text-transform:uppercase;
	font-weight:bold;
	color: #6a3093;
	margin-top: 20px;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 9%;
    color: white;
}

/* Video */

.video-presentation {
	margin: auto 0px auto 0px;
}

.video-responsive {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; 
	height: 0;
	overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	box-shadow: 1px 2px 3px gray;
}

.no-padding {
	padding: 0px !important;
}

.no-margin {
	margin: 0px !important;
}

/* About */

.about {
    padding: 50px 0;
}

/* Services */

.services {
    padding: 50px 0;
}

.services h1 {
	color: white;
}

.wh {
	color: #424242;
	 /*text-shadow: 1px 1px gray;*/
}

.sm {
	margin-right: 15px;
}

.service-item {
    margin-bottom: 30px;
    color: white;
}

/* Callout */

.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(../img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}

/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action h3 {
	color: #eeeeee;
}

.call-to-action .btn {
    margin: 10px;
}

/* Map */

.map {
    height: 300px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

.map iframe {
    pointer-events: none;
}

/* Footer */

footer {
    /*padding: 100px 0;*/
}

#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

#video-container {
    top:0%;
    left:0%;
    height:100%;
    width:100%;
    overflow: hidden;
	position: absolute;
}

.dev-by {
	background-color: #424242;
	color: white;
}

video {
    z-index:0;
	width: 100%;
	height: auto;
	position: absolute;
	display: block;
}

#header-logo {
	border-radius: 100%;
	width: 160px;
	height: 160px;
	background-color: white;
	border: 2px solid #A9AED8;
	margin-top: 90px;
	box-shadow: 1px 1px 2px #e0e0e0;
}


.person-adj {
	height: 320px;	
}

.person {
	border-radius: 100%;
	width: 160px;
	height: 160px;
	background-color: white;
	border: 2px solid #A9AED8;
	margin-top: 20px;
	box-shadow: 1px 1px 2px #e0e0e0;
}

.person-star {
	border-radius: 100%;
	width: 160px;
	height: 160px;
	background-color: white;
	border: 2px solid #e0e0e0;
	margin-top: 20px;
}

@media (max-width: 1150px) {
	#mobile-hidden {
		display:none;	
	}
}


.space {
	width: 100%;
	padding:15px;
}

.div-prt {
	border-bottom: 1px solid #e0e0e0;
	magin-bottom: 20px;
}

.sub {
	color: #e0e0e0;
	margin-left: 15px;
	margin-right: 15px; 
}

#video-header {
	box-size:border-box;
}

#head-sub {
	margin-bottom: 35px;
}

#em-breve {
	display: inline; 
	background-color: #e0e0e0;
	color: black; 
	padding: 5px 7px 5px 7px; 
	box-size:border-box; 
	border: 1px solid white; 
	border-radius: 7px;
}

.main-bg_old {
	background: #6a3093;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #a044ff, #6a3093);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #a044ff, #6a3093); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-bg {
	background: linear-gradient(to bottom right, #A9AED8 0%, #BBDDB1 100%);
	background: -webkit-linear-gradient(to bottom right, #A9AED8 0%, #BBDDB1 100%);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom right, #A9AED8 0%, #BBDDB1 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.site-logo {
	margin-top: -9px; 
	width: 100px; 
	height: auto;
}

.menu-item a {
	color: #6a3093 !important;
	font-weight: bold;
	font-size: 16px;
}

.menu-item a:hover {
	color: black !important;
	transition: 600ms;
}

.soft-bg {
	background-color: #eeeeee;
}

.partners ul {
	padding: 0px;
}

.partners ul li {
	display: inline-block;
	margin: 0px 7px 10px 7px;
	list-style: none;
	box-size: border-box;
	transation: 300ms;
}

.partners img {
	border-radius: 10px;
	box-shadow: 1px 1px 2px #e0e0e0;
}

.cta-bg {
	background: #283c86;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

	.navbar-toggle .icon-bar {
			width: 22px;
			transition: all 0.2s;
			-webkit-transition: all 0.2s;
			}
			.navbar-default .navbar-toggle {
			position:relative;
			padding-top:10px;
			z-index:100
			}
			.navbar-toggle .top-bar {
			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			transform-origin: 10% 10%;
			-webkit-transform-origin: 10% 10%;
			}
			.navbar-toggle .middle-bar {
			opacity: 0;
			}
			.navbar-toggle .bottom-bar {
			transform: rotate(-45deg);
			transform-origin: 10% 90%;
			-webkit-transform: rotate(-45deg);
			-webkit-transform-origin: 10% 90%;
			}
			.navbar-toggle.collapsed .top-bar {
			transform: rotate(0);
			-webkit-transform: rotate(0);
			}
			.navbar-toggle.collapsed .middle-bar {
			opacity: 1;
			}
			.navbar-toggle.collapsed .bottom-bar {
			transform: rotate(0);
			-webkit-transform: rotate(0);
			}

